  .sidenav {
      height: 100vh;
      z-index: 1;
      overflow-x: hidden;
      cursor: pointer;
      padding: 0px;
  }

  .form-control:focus {
      border-color: #d3d7db !important;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 255, 255, 0.5) !important;
  }

  /* width */
  ::-webkit-scrollbar {
      width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
      background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
      background: #d8d6d6;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
      background: #959494;
  }

  /* responsive font size */
  .openSidenavWidth {
      width: 150px !important;
  }

  .closeSidenavWidth {
      width: 30px !important;
  }

  .expandIconSize {
      font-size: 15px !important;
  }
  .logoSize {
      width: 20px !important;
      height: 20px !important;
  }

  .fontSize {
      font-size: 13px !important;
  }

  .srchIcon {
      font-size: 13px !important;
  }

  @media (min-width: 575px) {

      .openSidenavWidth {
          width: 200px !important;
      }

  }

  @media (min-width: 767px) {

      .openSidenavWidth {
          width: 300px !important;
      }

      .closeSidenavWidth {
          width: 40px !important;
      }

      .expandIconSize {
          font-size: 25px !important;
      }
      .logoSize {
          width: 30px !important;
          height: 30px !important;
      }

      .fontSize {
          font-size: 15px !important;
      }

      .srchIcon {
          font-size: 15px !important;
      }
  }